$height_img:450px;

.nomication_movie {
    position: relative;
    .btn{
        position: absolute;
        width: 100%;

        top:50%;
        left:50%;
        transform: translate(-50%, -50%);

        display: flex;
        justify-content: space-between;
        z-index: 2;

        button{
            padding:4px 8px;
            font-size: 24px;
        }
    }
    .addMargin {
        position: relative;
        .slick-list {
            margin-left: -10px;
            margin-right: -10px;
            .slick-track {
                .slick-slide {
                    div {
                        width: 100%;
                        a {
                            display: block;
                            overflow: hidden;
                            img {
                                padding-left:10px;
                                padding-right:10px;
                                height: 450px;

                                &:hover{
                                    transition: 0.5s ease;
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
